@import "../../scss/variables", "../../scss/mixins.scss";

.navbar {
  background-color: $cardNavBgColor;
  display: flex;
  justify-content: space-evenly;
  padding: 1rem;
}

a {
  text-decoration: none;
  color: $backgroundColor;
  font-size: 1.5rem;
  padding: 0.7rem;
  border-radius: 10px;
  &:hover {
    background-color: $backgroundColor;
    color: $cardNavBgColor;
    transition: all 1s;
  }
}

@include media-xsm {
  .navbar {
    flex-direction: column;
    text-align: center;
  }
}

@include media-sm {
  .navbar {
    flex-direction: row;
  }
}
